.table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.table th{
    padding: 12px 15px
}

.table tbody tr{
    border-bottom: 1px solid #dddddd;

}

.table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

table tbody tr:last-of-type{
    border-bottom: #009879 2px solid;
}

